.react-calendar {
  background-color: #fff1e981;
  border: none;
  border-radius: 16px;
  color: #4a1a1a;
  font-family: sans-serif;
  backdrop-filter: blur(10px);
}

.react-calendar__tile--now {
 background: transparent !important;
}

.react-calendar__tile {
  color: #4a1a1a;
  border-radius: 8px;
}

.react-calendar__tile:hover {
  background-color: rgba(139, 60, 60, 0.3);
}

.react-calendar__tile--active {
  background-color: #6b2020 !important;
  color: white !important;
  border-radius: 8px;
}

.react-calendar__tile.dia-passado,
.react-calendar__tile.dia-passado:hover,
.react-calendar__tile.dia-passado abbr {
  color: grey !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  background: none !important;
}

.react-calendar__navigation button {
  color: #4a1a1a;
  font-weight: bold;
  font-size: 16px;
}

.react-calendar__navigation button:hover {
  background-color: rgba(139, 60, 60, 0.2);
  border-radius: 8px;
}